.clipScreen {
  border: 2px dashed  rgb(255,102, 0);
  width: calc(100vw - 4px);
  height: calc(100vh - 4px);
  overflow: hidden;
  -webkit-app-region: drag;
  :global {
    .header {
      display: flex;
      flex-direction: row-reverse;
      .right {
        // width: 150px;
        background-color: rgba(204, 201, 201, 0.2);
        -webkit-app-region: no-drag;
      }
    }
  }
}
